/*==========Google font==========*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*==========Google font==========*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
a:hover {
  text-decoration: none;
}

/******Edge browder password icon hide *****/
input::-ms-reveal,
input::-ms-clear {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
